@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Instrument Serif';
  src: url('/src/assets/fonts/InstrumentSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Instrument Serif';
  src: url('/src/assets/fonts/InstrumentSerif-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Optician Sans';
  src: url('/src/assets/fonts/Optician-Sans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #000000;
  color: #D6CFBF;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #C83E36;
}